.container {
    position: relative;
    margin: 0px;
    width: 375px;
    height: 667px;
    background-color: #f8f8f8;
    padding-top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.album-art {
    width: 320px;
    height: 320px;
    background-color: #e9e9e9;
    border-radius: 20px;
    margin: 20px auto 0;
    perspective: 1000px;
}

img.rounded-corners {
  border-radius: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.album-art.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  /* Styles for the front side of the flip card */
}

.flip-card-back {
  /* Styles for the back side of the flip card */
  transform: rotateY(180deg);
}

.song-details {
    text-align: center;
    margin-bottom: 10px;
}

.song-title {
    font-family: Avenir, sans-serif;
    font-size: 20px;
    margin: 10px;
}

.artist-name {
    font-family: Avenir, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    color: #967bb6;
}

.progress-bar {
    width: 80%;
    height: 4px;
    background-color: #dcdcdc;
    border-radius: 2px;
    margin-bottom: 10px;
}

.progress {
    width: 80%;
    height: 4px;
    background-color: #967bb6;
    border-radius: 2px;
    margin-bottom: 10px;
}

.time-stamp {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    font-family: Avenir, sans-serif;
    color: #666666;
    top: -20px;
}

.elapsed-time, .total-time {
    position: absolute;
    top: 0;
}

.elapsed-time {
    left: 0;
}

.total-time {
    right: 0;
}

.controls {
    text-align: center;
    margin-bottom: 5px;
    color: #5A5A5A;
}

.controls button {
    margin: 0 5px;
    padding: 0;
    width: 80px;
    height: 80px;
    font-size: 48px;
    color: #5A5A5A;
    background-color: transparent;
    border: none;
}

.happy-birthday {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    color: #967bb6;
}
